body {
    color: #d1d1d1;
    background: black;
}
.tumbletech-logo {
    position: absolute;
    margin-top:20px;
    left: 50px;
    width: 10%;
    height: 15%;
}
.right-corner {
    margin-top: 0;
    margin-left: 10px;
}
.tumbletech-logo { grid-area: header;}
.right-corner { grid-area: header;}
.container1 {grid-area: main;}
.container2 {grid-area: right;}
.grid-container {
    display:grid;
    grid-template-areas: 
        'heaer header header header header header'
        'main main main right right right'
        'footer footer footer footer footer footer';
    gap: 10px;
    padding: 10px;
}
.topnav {
    padding: 10px;
}
.Welcome {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #7CF000;
}
.container1 {
    margin-left: 50px;
    padding: 5px;
}
.container2 {
    margin-top: 100px;
    padding: 10px;
    border-color: white;
    background-color: rgb(1, 6, 6);
    opacity: 80%;
    border-radius: 10px;
}
.project1 {
    padding: 10px;
}
.project2 {
    padding: 10px;
}
.project3 {
    padding: 10px;
}
h4 {
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #7DF9FF;
}
.contact-form {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight:100;
    padding: 10px;
    text-decoration: none;
    color:blanchedalmond;   
}
.footer-container {
    padding: 10px;
    margin: 75px;
    color: greenyellow;
}

@media only screen and (max-width: 420px) {
    body {
        height: 100vh;
        width: auto;
    }   
}